@model IPagedList<BlogPost>

@using PersonalBlog.Enums
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using PersonalBlog.Services.Interfaces

@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService



<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="axil-post-details">
                    <div class="tagcloud">
                        @* Show Tags for all Blogs found in search *@
                        @*@foreach(Tag tag in Model.Tags){

                        }*@
                    </div>
                    <div class="axil-comment-area">
                        <div class="comment-respond">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <h1>Recent Posts</h1>
                                </div>
                                <div class="col">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (BlogPost blogPost in await _BlogPostService.GetRecentBlogPostsAsync(4))
                                                {
                                                    <tr>

                                                        <td class="col-5">
                                                            @* Show Image *@
                                                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                                                <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.BlogPost)" alt="">
                                                            </a>

                                                        </td>
                                                        <td class="col-7">
                                                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug"> @blogPost.Title</a>
                                                        </td>


                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row row-cols-1 g-5">
                                            <div class="col text-center">
                                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                            </div>
                                            <div class="col justify-content-center">
                                                @Html.PagedListPager(Model, pageNum => Url.Action("RecentIndex", new { pageNum, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                                                new PagedListRenderOptions
                                                {
                                                LiElementClasses = new string[] { "page-item" },
                                                PageClasses = new string[] { "page-link" }
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Details  -->
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->
<!-- Start More Stories Area  -->
<div class="axil-more-stories-area axil-section-gap bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title">More Stories</h2>
                </div>
            </div>
        </div>
       
